coveralls==1.11.1; python_version <= '3.5'
coveralls==3.0.1; python_version > '3.5'
flake8==3.7.9
flake8-per-file-ignores==0.6
future==0.18.2
graphene==3.0
promise==2.3
mongoengine==0.19.1; python_version <= '3.5'
mongoengine==0.23.0; python_version > '3.5'
mongomock==3.22.1
pytest==4.6.11; python_version <= '3.5'
pytest==6.2.2; python_version > '3.5'
pytest-cov==2.8.1; python_version == '3.5' or python_version == '3.4'
pytest-cov==2.11.1; python_version < '3.4' or python_version > '3.5'
singledispatch==3.6.1
# https://stackoverflow.com/a/58189684/9041712
attrs==20.2.0
futures; python_version < '3.0'
